*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*header*/
header{
    height: 100px; /*altura*/
    background: #00369c;
    padding: 0 50px; /*ponerlo mas centrado, ambos lados 50px*/
    color: #fff;
    display: flex; /*ponerlo mas organizado uno al lado del otro*/
    justify-content: space-between; /*ponerlo separado uno del otro*/
    align-items: center; /*centrados dentro del contenedor*/

}

.logo{
    text-transform: uppercase; /*poner la letra en mayuscula del html*/
    color: #fff;
    font-weight: 200; /*poner la letra menos ancha*/

}

.menu{
    display: flex;
    text-decoration: none;
    list-style: none;
}
.menu a{ /*menu a*/
    color: #fff;
    text-transform: uppercase; /*mayuscula*/
    text-decoration: none; /*quitar subrayado*/
    padding: 0 10px; /*0 px arriba pero 10px a los lado, los separa*/
    transition: 0.4s;
    display: flex;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px; /*ponerlo mas grande*/
    cursor: pointer; /*manito*/
    display: none; 
    transition: 0.4s;
} 

.mostrar-menu{
    order: 1;
}

.menu a:hover,
.mostrar-menu :hover, /*realiza actividades cuando se pasa el cursos*/
.esconder-menu:hover{
    color: #1a60e0; /*solo pone color encima de las palabras*/
}

#check{
    display: none;
}


/*personas*/
#personas{
    padding: 50px 50px;
    display: flex;s
    justify-content: center;
    text-align: center;
}


#personas img{
    border-radius: 100%;
    max-width: 300px ;
    max-height: 300px;
    

}

#personas div{
    padding: 30px 30px;
}

#personas div h4{
    color: #00369c;
    font-size: 20px;
    margin: 20px 0px;
}

#personas div p{
    color: #4d4d5c87;
    font-size: 18px;
}

.boton-saber-mas{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    border: 3px solid #16ce21;
    border-radius: 10px;
    margin-top: 15px;
    transition: all 0.4s;
    background: #16ce21;

}

.boton-saber-mas:hover{
    background: #00ff15;
    color: #fff;
}